@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
   -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

/*:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}*/

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}*/

*:focus {
  outline: none;
}

.hide-scroll-x {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scroll-x::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */;
}

.shadow-box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.card__shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.shadow-house:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.b-s {
  box-shadow: rgba(247, 151, 107, 0.4) -25px 25px;
}

.pcard-shadow {
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}